* {
    margin: 0;
    padding: 0;
}

.main-div {
    padding: 0px 280px;
    width: 1320px;
}

/* banner sec  */
.hadder {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url(Media/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;

}

.banner {
    width: 1320px;
    height: 600px;
    border-radius: 15px;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.banner-title-1 {
    font-family: 'Merriweather';
    color: #FFF;
    font-size: 28px;
    text-align: center;
    position: relative;
    padding-top: 160px;
}

.banner-title-2 {
    color: #FFF;
    font-size: 70px;
    font-family: 'Merriweather';
    text-align: center;
    margin: 0px auto;
    width: 632px;
}

/* discount sec  */
.discount-sec {}

.discount-title-1 {
    color: #F00;
    text-align: center;
    font-size: 46px;
    font-family: 'Inter';
    margin-top: 120px;
    width: 100%;
}

.discount-title-2 {
    text-align: center;
    font-size: 19px;
    color: red;
    margin-top: 48px;
}

.discount-title-3 {
    color: #070211;
    text-align: center;
    font-size: 31px;
    font-family: 'Inter';
    margin-top: 16px;
}

.discount-banner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* midnight sec  */
.midnight-sec {
    background-image: url(./Media/Vectorrr.png);
    border-radius: 10px;
    width: 1320px;
    height: 600px;
    margin: 128px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.midnight-banner {
    width: 1320px;
    height: 600px;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgb(0 0 0 / 20%));
}

.midnight-title {
    position: relative;
    width: 642px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 7.04px;
    font-family: 'Merriweather';
    top: 180px;
    left: 126px;
    text-align: left;
}

.midnight-des {
    position: relative;
    color: #d6d0d3;
    font-family: 'Inter';
    font-size: 18px;
    left: 126px;
    width: 697px;
    top: 180px;
}

.midnight-banner button {
    border: none;
    position: relative;
    top: 200px;
    left: 128px;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-family: 'Inter';
}

.banner-image {
    display: flex;
    justify-content: right;
    margin: 0px 172px;
    bottom: 242px;
    position: relative;
}

/* New Park Hotel */
.new-park {
    background-color: #ffe7e7;
    height: 482px;
    margin-top: 120px;
    border-radius: 20px;
    text-align: center;

}

.new-park-text {
    color: #070211;
    font-size: 20px;
    font-family: 'Inter';
    text-align: center;
    padding: 100px 0px;
}

.new-park span {
    color: red;
}

.new-park button {
    padding: 16px 32px;
    border: 0px;
    border-radius: 10px;
    background-color: red;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    cursor: pointer;


}

/* circle zone */
.circle-zone {
    display: flex;
    background: white;
    height: 482px;
    margin-top: 120px;
    /* border-radius: 20px; */
    /* justify-content: center; */
    align-items: center;
    gap: 90px;
}

.circle-text {
    margin-top: 10px;
}

.circle-text h1 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    margin-top: 16px;
}

.circle-text h3 {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.circle-text p {
    max-width: 393px;
    color: #66636c;
    margin-top: 22px;
    font-family: 'Inter';
}

.circle-img {
    border-radius: 50%;
    border: 10px solid #F00;
    width: 363px;
    padding: 20px 24px;
}

.circle-year {}

.circle-year h1 {
    color: red;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Inter';
    margin-bottom: 16px;
}

.circle-year p {
    max-width: 275px;
    color: #66636c;
    margin-bottom: 16px;
    font-family: 'Inter';
}

/* holiday sec  */
.holiday-sec {
    background: white;
    text-align: center;
    margin-top: 129px;
}

.holiday-text h4 {
    color: #070211;
    font-size: 20px;
    font-family: 'Inter';
}

.holiday-text span {
    color: red;
}

.holiday-text h1 {
    color: #070211;
    font-size: 72px;
    font-family: 'Merriweather';
}

.holiday-text p {
    color: rgb(102, 99, 108);
    font-size: 16px;
    font-family: 'Inter';
    width: 100%;
    max-width: 1068px;
    margin: 14px auto;
}

.holiday-img {
    display: flex;
    position: relative;
    max-width: 1320px;
}

.holiday-image {
    background-image: url("./Media/Rectangle 2.png");
    background-repeat: no-repeat;
    height: 254px;

}

.holiday-dis {
    position: relative;
    right: 476px;
    top: 317px;
}

.holiday-img1 {
    top: 284px;
    position: relative;
}

.holiday-img3 {
    position: relative;
    top: 234px;
    left: 93px;
}

/* Portfolio sec  */
.portfolio-sec {
    max-width: 1320px;
    margin: 80px 0px;
}

.Portfolio-text {
    text-align: left;
}

.Portfolio-text h4 {
    color: red;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;

}

.Portfolio-text h1 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
}

.Portfolio-text p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter';
}

/* portfolio img  */
.Portfolio-img1 {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.img-box1 {
    opacity: 0.5;
}

.img-box1:hover {
    transition: 1s;
    opacity: 1;

}

.Portfolio-img2 {
    display: flex;
    gap: 24px;
    margin-top: 10px;
}

/* subscribe sec  */
.subscribe-sec {
    margin-top: 120px;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.subscribe-sec img {
    margin-top: 80px;
}

.subscribe-sec h1 {}

.subscribe-sec p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;
    font-family: 'Inter';
    display: inline-block;
}
.subscribe-input {
    display: flex;
    width: 648px;
    height: 72px;
    border-radius: 50px;
    overflow: hidden;
    margin: 48px auto;
}
.subscribe-email{
    flex:1;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
}
.subscribe-submit {
    background: #F00;
    padding: 10px;
    border: none;
    width: 210px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}